.signups { 
  padding: 50px; 
  background: white; 
  animation: slide 0.5s forwards; 
  min-height: 100vh; 
}

@keyframes slide { 
  from {transform: translateY(0);}
  to{ transform: translateY(-470px)}
}

