@font-face {
  font-family: jumboTitle;
  src: url('../../assets/fonts/BebasNeue-Regular.otf');
}

.jumbotron { 
  height: 412px; 
  background: #231f20 url('../../assets/images/jumbotron.jpg') no-repeat center bottom;
  .shadow { 
    padding: 34px; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.3); 

    h1 { 
      color: white; 
      margin: 50px; 
      font-size: 5vw;
      font-family: jumboTitle; 
      font-weight: 100; 
      span { 
        color: #ffcb05; 
      }
    }
  }
  
}